<input type="hidden" value="<%- battle.battleActive[0].id %>" id="battle_id">
<input type="hidden" value="<%- content %>" id="key_dom_id">
<br>
<section class="main-class">
    <div class="center-copper" style="transition: .3s;">
        <div id="step-1" class="texts mb-5">
            <div class="title mb-3">
                Atenção!
            </div>
            <div class="desc">
                Uma vez selecioado o candidato, o seu voto será enviado, e não poderá voltar a editálo.
            </div>

            <button class="nextStep a_click_effect" id="nextStep">Próximo</button>
        </div>

        <div id="step-2" style="display: none; opacity: 0;">
            <div class="texts mb-5">
                <div class="title mb-3">
                    Vote em seu candidato!
                </div>
            </div>

            <div class="people">
                <div class="profile" onclick="captTheVote(this)">
                    <div class="image">
                        <img src="<%- battle.wariers.warier1[0].img %>" alt="">
                        <input type="hidden" value="<%- battle.wariers.warier1[0].id %>" class="warierPerson">
                    </div>
                    <div class="name"><%- battle.wariers.warier1[0].nome %></div>
                    <input type="radio" name="select-person" id="">
                </div>
                <div class="profile" onclick="captTheVote(this)">
                    <div class="image">
                        <img src="<%- battle.wariers.warier2[0].img %>" alt="">
                        <input type="hidden" value="<%- battle.wariers.warier2[0].id %>" class="warierPerson">
                    </div>
                    <div class="name"><%- battle.wariers.warier2[0].nome %></div>
                    <input type="radio" name="select-person" id="">
                </div>
            </div>
        </div>
    </div>
</section>