<section class="main-section">
    <%- include("../../parts/navbar") %>

    <div class="page-content">
        <% if(ObjectOverKey.length == 0) { %>
            <div class="alert alert-primary mt-4">
                Não foram geradas chaves nenhumas no momento.
            </div>
        <% } else { %>
            <h1 class="mt-4 mb-4">Todas as chaves</h1>

            <div class="row lines-define">
                <% Object.values(ObjectOverKey).forEach(item => { %>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="column">
                                    <div class="s-title">Série</div>
                                    <div class="title mb-1"><%= item._series.content %></div>
                                    <div class="s-title" style="color: red;"><% if(item._series.expo == 1) { %>PDF Já exportado<% } %></div>
                                </div>
                                <div class="column">
                                    <div class="s-title">Nº de chaves</div>
                                    <div class="title d-font"><%= item.credentials.length %></div>
                                </div>
                                <div class="column">
                                    <div class="s-title">Ações</div>
                                    <div class="actions">
                                        <a href="/actions/export-pdf-keys/<%= item._series.id %>" class="btn btn-primary">PDF</a>
                                        <a href="/dashboard/arquive-keys/all/<%= item._series.id %>" class="btn btn-primary">Vêr</a>
                                        <a class="btn btn-danger" href="/actions/delete-key/<%= item._series.id %>">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</section>