<section class="main-section-select">
    <div class="middle-efect">
        <div class="bilt-block">
            <div class="upper" id="upperBar1"></div>
            <div class="person">
                <div class="image">
                    <img src="<%- battle.wariers.warier1[0].img %>" alt="">
                </div>
                
                <input type="hidden" value="<%- votes.w1 %>" data-id="<%- battle.wariers.warier1[0].id %>" class="voteSetter" id="warier1"/>
                <div class="name"><%- battle.wariers.warier1[0].nome %></div>
            </div>
        </div>
        <div class="bilt-block">
            <div class="upper" id="upperBar2"></div>
            <div class="person">
                <div class="image">
                    <img src="<%- battle.wariers.warier2[0].img %>" alt="">
                </div>
                
                <input type="hidden" value="<%- votes.w2 %>" data-id="<%- battle.wariers.warier2[0].id %>" class="voteSetter" id="warier2"/>
                <div class="name"><%- battle.wariers.warier2[0].nome %></div>
            </div>
        </div>
    </div>
</section>